# VS Code
__pycache__/

# Temp Files
temp/

# build folder
build/
*.egg-info/
dist/

# Test Module
test/
testDirect.py
testIteration.py
testPower.py
testInterpolation.py
testMatrix.py
testFuncAppro.py
testIntegral.py