# VS Code
__pycache__/
.vscode/

# Intermediate file
*.pdf

# Temp Files
temp/

# build folder
build/
*.egg-info/
dist/

# Test Module
test/
testMatrix.py
testElimination.py
testFuncAppro.py
testIntegral.py
testInterpolation.py
testIteration.py
testPower.py
testRoot.py
testSquareRoot.py
testTriDecomposition.py